@charset "UTF-8";

#act_tbl{
	/* Edgeのth幅指定不能防止 */
	table-layout: fixed;
}

#act_tbl thead .note{
	width:200px;
}

.form_detail_e{
	display:none;
}

.form_detail_n{
	display:none;
}

.customs_box1{
	float:left;
	padding:4px;
	margin:4px;
	background-color:#dddddd;
	border-radius:4px
}